// These colors are specific to the theme. Do not use in a package!

@very-light-gray: #c5c8c6;
@light-gray: #969896;
@gray: #373b41;
@dark-gray: #282a2e;
@very-dark-gray: #1d1f21;

@cyan: #8abeb7;
@blue: #81a2be;
@purple: #b294bb;
@green: #b5bd68;
@red: #cc6666;
@orange: #de935f;
@light-orange: #f0c674;

// Crayon Theme

// Shades
@black:  #101112;
@gray01:  #282C33;
@gray02:  #383E47;
@gray03:  #586270;
@gray04:  #798494;
@gray05:  #BCC5D1;
@gray06:  #D8D8D8;
@white:  #FDFEFF;

// Colors
@red: #B27B78;
@orange: #C48D62;
@yellow: #D8C27A;
@green: #99AE63;
@cyan: #8DC9C3;
@blue: #7495B6;
@magenta: #B59CD8;
@pink: #CC99B3;
